.content {
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url('https://d9hhrg4mnvzow.cloudfront.net/info.geers.de/zdf/6697c9d2-zdf-hero-image-woman-virto-m-titanium-v1_11hc0qw000000000000000.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 600px) {
  .hero {
    height: 250px;
    background-image: url('https://d9hhrg4mnvzow.cloudfront.net/info.geers.de/zdf/f43896e0-zdf-hero-image-woman-virto-m-titanium-mobile-v1_10000000go0af00000c000.jpg');
  }
}
