@import '../../styles/__colors.css';

.action {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  height: 420px;
  width: 500px;
  top: 140px;
  left: 50%;
  background: var(--bg-primary);
  padding: 2rem;
  border: 1px solid #dededd;
}

.title {
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.logos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.starRating {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rating {
  font-weight: bold;
  font-size: 1.25rem;
}

.buttonBox {
  width: 90%;
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .action {
    height: 340px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem;
  }

  .title {
    font-size: 1rem;
  }
}
