@import '../../styles/__colors.css';

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 990px;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.tiles {
  width: 990px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.tile {
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}

.percent {
  color: var(--green);
  margin-bottom: 0.5rem;
  font-size: 2.75rem;
}

.tileText {
  font-size: 1.25rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .stats {
    padding: 1rem;
  }

  .title {
    width: 100%;
    font-size: 1.1rem;
  }

  .tiles {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .tile {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .tileText {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .percent {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
}
